<!DOCTYPE html>
<html>
    <head>
        <title>Notemaster</title>
        <link rel="stylesheet" href="http://davidtkatz.com/public_css/noteMaster.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        
        <script src="https://unpkg.com/vue"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    </head>
    <body>
        <div id="app">
            <h3> {{title}} </h3>

            <div class="form">
                <div class="form-group">
                    <div class="form-group">
                        <label>Note Title</label>
                        <input type="text" class="form-control" v-model="note.title">
                    </div>
                    <div class="form-group">
                        <label>Note text</label>
                        <textarea class="form-control" v-model="note.text"></textarea>
                    </div>
                </div>
                <button class="btn btn-primary" @click="addNote">Submit</button>
            </div>

            <div class="col-sm-12">
                <div class="col-sm-4 note" v-for="(note, index) in notes">
                    <div class="card">
                        <button class="close" @click="removeNote(index)">&times;</button>
                        <div class="card-block">
                            <h4 class="card-title"> {{note.title}} </h4>
                            <h6 class="card-subtitle mb-2 text-muted"> {{note.date}} </h6>
                            <p class="card-text"> {{note.text}} </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            var app = new Vue({
                el: '#app',
                data:{
                    title:'Notemaster',
                    note:{
                        title: '',
                        text: ''
                    },
                    notes: [
                        {
                            title: 'Visited Hawai',
                            text: 'dgniosdngosdngosdgnsogbensioengiosbnoedng',
                            date: new Date(Date.now()).toLocaleString()
                        }
                    ]
                },
                methods:{
                    addNote(){
                        let { text, title } = this.note;
                        this.notes.push({
                            text,
                            title,
                            date: new Date(Date.now()).toLocaleString()
                        })
                    },
                    removeNote(index){
                        this.notes.splice(index, 1)
                    }
                }
            })
        </script>
        
    </body>
</html>